/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

#logo {
    position: relative;
    width:20%;
    z-index: 1;
}

#logo {
    position: absolute;
    left:13em;
    top:2em;
}


header img {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
}

/*img:nth-of-type(2)  {
    position: absolute;
    top:0;
    left:0;
}*/

p {
    font-family: 'Antic Didone', serif;
    color: black;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
        font-family: 'Antic Didone', serif;
    color: black;
}