  /* CSS Document */
  *,
  *::after,
  *::before {
      box-sizing: border-box;
  }

  img {
      display: flex;
  }

  /*header*/

  header {
      width: 100%;
      position: relative;
  }

  #logo {
      position: absolute;
      top: 1em;
      left: 14em;
  }

  .slider {
      z-index: 1;
      display: flex;
      overflow-x: auto;
  }

  .slide {
      width: 100%;
      height: auto;
  }


  #inspiration {
      background-image: url(../images/inspiration.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }


  #inspiration nav ul li a {
      padding: .5em;
      margin: .5em;
      text-decoration: none;
      color: white;
      font-size: 1em;
      font-family: 'Abril Fatface', cursive;
  }

  .menu {
      padding-top: 15em;
  }

  section article button {
      display: flex;
      align-content: center;
      justify-content: center;
      text-align: center;
  }

  button {
      color: white;
      border: none;
/*      outline: none;
      width: 5em;*/
      max-width: calc(100% - 0px);
      margin: auto;
      font-size: 1.5em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .2em;
      padding-bottom: .2em;
      background: #EE1B49;
      box-shadow: inset 0 -1em rgba(0, 0, 0, .04), 0 0 1em rgba(0, 0, 0, .5);
      border-radius: .5em;
  }
  
  button:hover {
    background-color: #f2a3f5;
    box-shadow: inset 0 -1em rgba(0, 0, 0, .08), 0 0 1em rgba(0, 0, 0, .9);
  }
  

  nav {
      display: flex;
      color: white;
      width: 100%;
      z-index: 2;
  }

  main ul li a {
      list-style: none;
  }

  header nav ul {
      display: flex;
      padding: 1em;
      flex: auto;
      list-style: none;
      justify-content: center;
  }

  header nav ul li a {
      padding: .5em;
      margin: .5em;
      text-decoration: none;
      color: black;
      font-size: 1em;
      font-family: 'Abril Fatface', cursive;
  }

  /*main*/

  blockquote {
      font-family: 'Antic Didone', serif;
      color: black;
      text-align: center;
  }

  section img {
      padding: 1em;
  }

  article img {
      width: 100%;
  }

  h2 {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding-bottom: 1em;
      text-align: center;
  }

  h2:nth-of-type(2) {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding-bottom: 0;
  }

  h3 {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding: 0.5em;
      text-align: center;
  }

  article ul li {
      list-style: none;
  }

  article ul {
      padding: 0;
  }

  .like {
      width: 15%;
  }

  /*footer*/

  footer {
      display: inline-block;
      width: 100%;
      background-color: #D8D4D8;
      padding: 3em;
      justify-content: center;
  }

  footer ul {
      display: flex;
      flex: auto;
      padding-bottom: 1em;
      color: white;
  }

  footer ul li {
      display: flex;
      flex: auto;
      list-style: none;
  }

  footer img {
      width: 40%;
      height: auto;
  }

  .icons {
      display: flex;
      justify-content: center;
  }

  p {
      font-family: proxima-nova, sans-serif;
      font-style: normal;
      font-weight: 100;
      color: black;
      text-align: center;
  }

  p a {
      text-decoration: none;
      color: black;
  }

  /*breakpoints*/

  @media (min-width:40em) {
      .covers {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }

  @media (min-width:40em) {
      .inspog {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }

  @media (min-width:60em) {
      .inspog {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }