  /* CSS Document */
  *,
  *::after,
  *::before {
      box-sizing: border-box;
  }

  img {
      display: flex;
  }

  .logo {
      padding-top: 1em;
  }

  /*header*/

  header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../images/makeupbanner.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  #inspiration {
      background-image: url(../images/inspiration.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  nav {
      padding-bottom: 10em;
      display: flex;
      color: white;
      width: 100%;
  }

  main ul li a {
      list-style: none;
  }

  header nav ul {
      display: flex;
      padding: 1em;
      flex: auto;
      list-style: none;
      justify-content: center;
  }

  header nav ul li a {
      padding: .5em;
      margin: .5em;
      text-decoration: none;
      color: white;
      font-size: 1em;
      font-family: 'Antic Didone', serif;
  }

  /*main*/

  blockquote {
      font-family: 'Antic Didone', serif;
      color: black;
      text-align: center;
  }

  section img {
      padding: 1em;
  }

  article img {
      width: 100%;
      height: 50%;
  }

  h2 {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding-bottom: 0;
      text-align: center;
  }

  h2:nth-of-type(2) {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding-bottom: 0;
  }

  h3 {
      font-family: 'Antic Didone', serif;
      color: black;
      margin: 0;
      padding: 0.5em;
      text-align: center;
  }

  /*footer*/

  footer {
      display: inline-block;
      width: 100%;
      background-color: #D8D4D8;
      padding: 3em;
      justify-content: center;
  }

  footer ul {
      display: flex;
      flex: auto;
      padding-bottom: 1em;
      color: white;
  }

  footer ul li {
      display: flex;
      flex: auto;
      list-style: none;
  }

  footer img {
      width: 40%;
      height: auto;
  }

  .icons {
      display: flex;
      justify-content: center;
  }

  p {
      font-family: proxima-nova, sans-serif;
      font-style: normal;
      font-weight: 100;
      color: black;
      text-align: center;
  }

  p a {
      text-decoration: none;
      color: black;
  }

  /*breakpoints*/

  @media (min-width:40em) {
      .covers {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }

  @media (min-width:40em) {
      .inspog {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }

  @media (min-width:60em) {
      .inspog {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 1em;
          padding: 1em;
      }
  }

/*@keyframes menu-animation {
  0% {
    transform:opac(.5);
  }
  100% {
    transform:scaleX(2);
  }
}

nav {
  animation-name:menu-animation;
  animation-duration:3s;
}*/